@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes breathing {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1); /* 稍微放大 */
    opacity: 1; /* 更加清晰 */
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

/* 取消 img 的 max-width */
img {
  max-width: none;
}

/* 定义左右摇摆的动画 */
@keyframes swing {
  0% {
    transform: translateX(0) rotate(0deg); /* 初始位置 */
  }
  20% {
    transform: translateX(-10px) rotate(-10deg); /* 向左摆动 */
  }
  50% {
    transform: translateX(10px) rotate(10deg); /* 向右摆动 */
  }
  80% {
    transform: translateX(-10px) rotate(-10deg); /* 再次向左摆动 */
  }
  100% {
    transform: translateX(0) rotate(0deg); /* 回到中间 */
  }
}
